<div class="js-container">
  <% if(products.length === 0) { %>
    <div class="result">
      <span>
        <b class="empty-result">
          "<%= search_text %>"
        </b>
        için arama sonuçları
      </span>
    </div>
    <div class="result-box">
        <i class="bi bi-cart-x-fill"></i>
        <p>Aradığınız sonuç bulunamadı</p>
    </div>
  <% } %>
    <div class="product-list-top">
      <div class="product-list js-product-list">
      
        <% products.forEach(product => { %>
        <div class="product_list_div">
              <div>
                <a href="/product/<%= product.pk %>">
                  <img src="<%= product.productimage_set[0] ? product.productimage_set[0].image : '' %>" class="product-image"
                  alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor.">    
                </a>
    
              </div>
          <div class="product-info">
            <p>
              <a href="/product/<%= product.pk %>">
                <%= product.name %>
              </a>
              <br>
              <span>
                <%= product.price %> TL |
                <i class="bi bi-bag-check" stybox: #760C0C;"></i>
                  <% product.basket_offers.forEach(basketOffer => { %>  
                      <b style="color: #760C0C; font-size: 14px;">
                        <%= basketOffer.label %>
                      </b>
                      <b style="color: #760C0C; font-size: 18px;">
                        <%= basketOffer.listing_kwargs.discounted_total_price %> TL
                      </b>
                  <% }); %>
              </span>
            </p>
          </div>  
        </div>
        <% }); %>
      </div>
      
    
    </div>
    </div>