<div class="product-variants">
  <div class="product-color">
    <p>
      Renk:
      <span style="color: #8e502b; margin-left: 3px">
        <%= product.attributes.renk %>
      </span>
    </p>
  </div>
  <div class="product-color-images">
    <% variants.forEach((variant) => { %> <% if(variant.attribute_key ==
    "renk"){ %> <% variant.options.forEach((option) => { %>

    <div class="image">
      <a href="/product/<%= option.product.pk %>">
        <img
          class="product-image <%= option.is_selected ? 'selected-product-color' : ''%> <%= option.is_selectable ? '' : 'is-not-selectable-color'%>"
          src="<%= option.product.productimage_set[0].image %>"
          alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor."
        />
      </a>
    </div>

    <% })}}) %>
  </div>
  <div class="product-measure">
    <p>
      Ölçü:
      <span style="color: #8e502b; margin-left: 3px">
        <%= product.attributes.boyut %>
        <!-- TODO: farkli bir olcuye tikladiginda sayfa yenilenecek ve o olculu olan urunun resmi gelecek. -->
      </span>
    </p>
  </div>
  <div class="product-measure-box">
    <% variants.forEach((variant) => { %> <% if(variant.attribute_key ==
    "boyut") { %> <% variant.options.forEach((option) => { %>

    <a
      href="/product/<%= option.product.pk %>"
      class="measure <%= option.is_selected ? 'selected-product-measure' : '' %> <%= option.is_selectable ? '' : 'is-not-selectable-measure' %>"
    >
      <div><%= option.product.attributes.boyut %></div>
    </a>

    <% })}}) %>
  </div>
</div>
