<%- include('header'); -%>
<div class="header-bottom">
  <% facets.forEach(facet => { %>
      <%
        if(facet.widget_type == "category") {
          facet.data.choices.forEach(category => { %>
            <a href="<%= category.url %>">
              <div class="categories">
                <%= category.label %>
              </div> 
            </a>
         <% });
        }
      %>
  <% }); %>
</div>

<!-- TODO: filtreleme ve ordering yapilacak. -->
<div class="list-content">
  <div class="list-views">
    <div class="filter">
      <button class="filter-button js-filter-button">
        Filtrele
        <i class="bi bi-filter" style="font-size: 24px;"></i>
      </button>
    </div>

    
    <div class="orderDropdown">
      <button onclick="runOrderFilter(event)" class="js-order-button order-button">
        Gelişmiş Sıralama
        <i class="bi bi-sort-alpha-down" style="font-size: 24px;"></i>
      </button>
      <div id="js-orderDropdown" class="js-order-dropdown-content order-dropdown-content">
        <% sorters.forEach(order => { %>
          <a href="#">
            <%= order.label %>
          </a> 
        <% }); %>
      </div>
    </div>
  </div>
  
  <div class="layout">
    <div class="text-view">
      Görünüm
    </div>
    <div class="layout-icons">
      <button id="js-DoubleLayout">
        <i class="bi bi-layout-split" style="font-size: 16px;"></i>
      </button>
      <button id="js-default-layout">
        <i class="bi bi-grid" style="font-size: 14px;"></i>
      </button>
      <button id="js-hexa-layout">
        <i class="bi bi-grid-3x3-gap" style="font-size: 16px;"></i>
      </button>
    </div>
    <div class="product-quantitiy">
      <%= pagination.total_count %> Ürün
    </div>

  </div>
</div>

<div class="js-filter-div filter-div">
  <div class="dropdown">
    <button onclick="runColorFilter(event)" class="js-color-filter-button color-filter-button">
      <div class="filter-box">
        <h2 class="filter-titles">Renk</h2>
        <i class="bi bi-chevron-down"></i> 
      </div>
    </button>
  
    <div id="js-color-Dropdown" class="js-dropdown-content dropdown-content">
      <% facets.forEach(facet => { %>
        <% if (facet.name === "Renk") { %>
          <% facet.data.choices.forEach(color => { %>
              <a href="#">
                <%= color.value %>
                <span class="color-quantity">
                  (<%= color.quantity %>)
                </span>
                <input type="checkbox" name="colorCheckbox" class="filterCheckbox">
              </a>
          <% }); %>
        <% } %>
      <% }); %>
    
    </div>
  </div>

  <div class="dropdown">
    <button onclick="runMeasureFilter(event)" class="js-measure-filter-button measure-filter-button">
      <div class="filter-box">
        <h2 class="filter-titles">Ölçü</h2>
        <i class="bi bi-chevron-down"></i>
      </div>
    </button>

    <div id="js-measure-dropdown" class="js-dropdown-content dropdown-content">
      <% facets.forEach(facet => { %>
        <% if (facet.name === "Ölçü") { %>
          <% facet.data.choices.forEach(measure => { %>
              <a href="#">
                <%= measure.value %>
                <span class="color-quantity">
                  (<%= measure.quantity %>)
                </span>
                <input type="checkbox" name="measureCheckbox" class="filterCheckbox">
              </a>
          <% }); %>
        <% } %>
      <% }); %>
    </div>
  </div>

  <div class="dropdown">

    <button onclick="runMaterialFilter(event)" class="js-material-filter-button material-filter-button">
      <div class="filter-box">
        <h2 class="filter-titles">Materyal</h2>
        <i class="bi bi-chevron-down"></i>
      </div>
    </button>

    <div id="js-material-Dropdown" class="js-dropdown-content dropdown-content">
      <% facets.forEach(facet => { %>
        <% if (facet.name === "Materyal") { %>
          <% facet.data.choices.forEach(material => { %>
              <a href="#">
                <%= material.value %>
                <span class="color-quantity">
                  (<%= material.quantity %>)
                </span>
                <input type="checkbox" name="materialCheckbox" class="filterCheckbox">
              </a>
          <% }); %>
        <% } %>
      <% }); %>
    </div>  
  </div>

  <div class="dropdown">
    <button onclick="runPriceFilter(event)" class="js-price-filter-button price-filter-button">
      <div class="filter-box">
        <h2 class="filter-titles">Fiyat</h2>
        <i class="bi bi-chevron-down"></i>
      </div>
    </button>
    <div id="js-price-Dropdown" class="js-dropdown-content dropdown-content">
      <% facets.forEach(facet => { %>
        <% if (facet.name === "Fiyat") { %>
          <% facet.data.choices.forEach(price => { %>
              <a href="#">
                <%= price.label %>
                <span class="color-quantity">
                  (<%= price.quantity %>)
                </span>
                <input type="checkbox" name="priceCheckbox" class="filterCheckbox">
              </a>
          <% }); %>
        <% } %>
      <% }); %>
    </div>
  </div>


 
</div>

<!-- TODO: burada image slider yapilacak. -->

<div class="product-list-top">
  <div class="product-list js-product-list">
    <% products.forEach(product => { %>
    <div class="product_list_div">
          <div>
            <a href="/product/<%= product.pk %>">
              <img src="<%= product.productimage_set[0].image %>" class="product-image"
              alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor.">    
            </a>
          </div>
      <div class="product-info">
        <p>
          <a href="/product/<%= product.pk %>">
            <%= product.name %>
          </a>
          <br>
          <span>
            <%= product.price %> TL |
            <i class="bi bi-bag-check" stybox: #760C0C;"></i>
              <% product.basket_offers.forEach(basketOffer => { %>  
                  <b style="color: #760C0C; font-size: 14px;">
                    <%= basketOffer.label %>
                  </b>
                  <b style="color: #760C0C; font-size: 18px;">
                    <%= basketOffer.listing_kwargs.discounted_total_price %> TL
                  </b>
              <% }); %>
          </span>
        </p>
      </div>  
    </div>
    <% }); %>
  </div>
  

</div>


<%- include('footer'); -%>