<%- include("header"); -%>
<div class="header-bottom">
  <% facets.forEach(facet => { %>
      <%
        if(facet.widget_type == "category") {
          facet.data.choices.forEach(category => { %>
            <a href="<%= category.url %>">
              <div class="categories">
                <%= category.label %>
              </div> 
            </a>
         <% });
        }
      %>
  <% }); %>
</div>

<div class="filters">
  <div class="list-content">
    <div class="list-views">
      <div class="filter">
        <button class="filter-button js-filter-button">
          Filtrele
          <i class="bi bi-filter" style="font-size: 24px;"></i>
        </button>
      </div>

      <div class="orderDropdown">
        <div class="js-order-button order-button">
          Gelişmiş Sıralama
          <i class="bi bi-sort-alpha-down" style="font-size: 24px;"></i>
        </div>
        <div id="js-order-dropdown" class="js-order-dropdown-content order-dropdown-content">
          <% sorters.forEach(sort => { %>
            <div class="orders js-orders" data-value="<%= sort.value %>">
              <%= sort.label %>
            </div> 
          <% }); %>
        </div>
      </div>
    </div>
  
    <div class="layout">
      <div class="text-view">
        Görünüm
      </div>
      <div class="layout-icons">
        <button id="js-double-layout">
          <i class="bi bi-layout-split" style="font-size: 16px;"></i>
        </button>
        <button id="js-default-layout">
          <i class="bi bi-grid" style="font-size: 14px;"></i>
        </button>
        <button id="js-hexa-layout">
          <i class="bi bi-grid-3x3-gap" style="font-size: 16px;"></i>
        </button>
      </div>
      <div class="product-quantity">
        <%= pagination.total_count %> Ürün
      </div>
    </div>
  </div>

  <div class="js-filter-div filter-div">
    <% facets.forEach(facet => { %>
    <% if (facet.search_key != "category_ids" && facet.search_key != "in_stock") { %>
    <div class="dropdown">
      <div class="js-filter-show-button filter-show-button">
        <h2 class="filter-titles">
          <%= facet.name %>
          </h2>
        <i class="bi bi-chevron-down"></i> 
      </div>
    
      <div class="js-dropdown-content dropdown-content">
        <% facet.data.choices.forEach(choice => { %>
            <div class="choice"> 
              <%= choice.label %>
              <span>
                (<%= choice.quantity %>)
              </span>
              <input
                type="checkbox"
                name="<%= facet.data.search_key %>"
                value="<%= choice.value %>"
                class="js-filter-checkbox"
                <% if(choice.is_selected) { %> checked <% } %>
              />
            </div>
        <% }); %>
      </div>
    </div>
    <% } %>
    <% }); %> 
  </div>
</div>



<!-- TODO: burada image slider yapilacak. -->
<div class="js-container">
<div class="product-list-top">
  <div class="product-list js-product-list">
    <% products.forEach(product => { %>
    <div class="product_list_div">
          <div>
            <a href="/product/<%= product.pk %>">
              <img src="<%= product.productimage_set[0].image %>" class="product-image"
              alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor.">    
            </a>
          </div>
      <div class="product-info">
        <p>
          <a href="/product/<%= product.pk %>">
            <%= product.name %>
          </a>
          <br>
          <span>
            <%= product.price %> TL |
            <i class="bi bi-bag-check" stybox: #760C0C;"></i>
              <% product.basket_offers.forEach(basketOffer => { %>  
                  <b style="color: #760C0C; font-size: 14px;">
                    <%= basketOffer.label %>
                  </b>
                  <b style="color: #760C0C; font-size: 18px;">
                    <%= basketOffer.listing_kwargs.discounted_total_price %> TL
                  </b>
              <% }); %>
          </span>
        </p>
      </div>  
    </div>
    <% }); %>
  </div>
  

</div>
</div>
<%- include('footer'); -%>