<%- include('header'); -%>
<div class="header-bottom">
  
  <% facets[0].data.choices.forEach(category => { %>
    <a href="#">
      <div class="categories">
        <%= category.label %>
      </div> 
    </a>
  <% }); %>
</div>

<!-- filtreleme ve ordering yapilacak. -->
<div class="list-content">
  <div class="list-views">
    <div class="filter">
      <button class="filter-button">
        Filtrele
        <i class="bi bi-filter" style="font-size: 24px;"></i>
      </button>
    </div>
    <div class="order">
      <button class="order-button">
        Gelişmiş Sıralama
        <i class="bi bi-sort-alpha-down" style="font-size: 24px;"></i>
      </button>
    </div>
  </div>
  
  <div class="layout">
    <div class="text-view">
      Görünüm
    </div>
    <div class="layout-icons">
      <button id="doublelayout">
        <i class="bi bi-layout-split" style="font-size: 16px;"></i>
      </button>
      <button id="defaultlayout">
        <i class="bi bi-grid" style="font-size: 14px;"></i>
      </button>
      <button id="hexalayout">
        <i class="bi bi-grid-3x3-gap" style="font-size: 16px;"></i>
      </button>
    </div>
    <div class="product-quantitiy">
      <%= pagination.total_count %> Ürün
    </div>

  </div>
</div>

<div class="filter-div">
  <div class="dropdown">
    <button onclick="runColorFilter(event)" class="colorFilterButton">
      <div class="filter-box">
        <h2 class="filter-titles">Renk</h2>
        <i class="bi bi-chevron-down"></i> 
      </div>
    </button>
  
    <div id="colorDropdown" class="dropdown-content">
      <% facets.forEach(facet => { %>
        <% if (facet.name === "Renk") { %>
          <% facet.data.choices.forEach(color => { %>
              <a href="#">
                <%= color.value %>
                <span class="color-quantity">
                  (<%= color.quantity %>)
                </span>
                <input type="checkbox" name="colorCheckbox" class="filterCheckbox">
              </a>
          <% }); %>
        <% } %>
      <% }); %>
    
    </div>
  </div>

  <div class="dropdown">
    <button onclick="runMeasureFilter(event)" class="measureFilterButton">
      <div class="filter-box">
        <h2 class="filter-titles">Ölçü</h2>
        <i class="bi bi-chevron-down"></i>
      </div>
    </button>

    <div id="measureDropdown" class="dropdown-content">
      <% facets.forEach(facet => { %>
        <% if (facet.name === "Ölçü") { %>
          <% facet.data.choices.forEach(measure => { %>
              <a href="#">
                <%= measure.value %>
                <span class="color-quantity">
                  (<%= measure.quantity %>)
                </span>
                <input type="checkbox" name="measureCheckbox" class="filterCheckbox">
              </a>
          <% }); %>
        <% } %>
      <% }); %>
    </div>
  </div>

  <div class="drodown">

  <button onclick="runMaterialFilter(event)" class="materialFilterButton">
    <div class="filter-box">
      <h2 class="filter-titles">Materyal</h2>
      <i class="bi bi-chevron-down"></i>
    </div>
  </button>

  <div id="materialDropdown" class="dropdown-content">
    <% facets.forEach(facet => { %>
      <% if (facet.name === "Materyal") { %>
        <% facet.data.choices.forEach(material => { %>
            <a href="#">
              <%= material.value %>
              <span class="color-quantity">
                (<%= material.quantity %>)
              </span>
              <input type="checkbox" name="materialCheckbox" class="filterCheckbox">
            </a>
        <% }); %>
      <% } %>
    <% }); %>
  </div>  
  </div>

  <div class="dropdown">
    <button onclick="runPriceFilter(event)" class="priceFilterButton">
      <div class="filter-box">
        <h2 class="filter-titles">Fiyat</h2>
        <i class="bi bi-chevron-down"></i>
      </div>
    </button>
    <div id="priceDropdown" class="dropdown-content">
      <% facets.forEach(facet => { %>
        <% if (facet.name === "Fiyat") { %>
          <% facet.data.choices.forEach(price => { %>
              <a href="#">
                <%= price.label %>
                <span class="color-quantity">
                  (<%= price.quantity %>)
                </span>
                <input type="checkbox" name="priceCheckbox" class="filterCheckbox">
              </a>
          <% }); %>
        <% } %>
      <% }); %>
    </div>
  </div>


 
</div>

<!-- burada image slider yapilacak. -->
<div class="product-list-top">
  <div class="product-list">
    <% products.forEach(product => { %>
    <div class="product_list_div">
          <div>
            <a href="/product/<%= product.pk %>">
              <img src="<%= product.productimage_set[0].image %>" class="product-image"
              alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor.">    
            </a>
          </div>
      <div class="product-info">
        <p>
          <a href="/product/<%= product.pk %>">
            <%= product.name %>
          </a>
          <br>
          <span>
            <%= product.price %> TL |
            <i class="bi bi-bag-check" stybox: #760C0C;"></i>
              <% product.basket_offers.forEach(basketOffer => { %>  
                  <b style="color: #760C0C; font-size: 14px;">
                    <%= basketOffer.label %>
                  </b>
                  <b style="color: #760C0C; font-size: 18px;">
                    <%= basketOffer.listing_kwargs.discounted_total_price %> TL
                  </b>
              <% }); %>
          </span>
        </p>
      </div>  
    </div>
    <% }); %>
  </div>
  

</div>


<%- include('footer'); -%>