<%- include('header'); -%>

<div class="header-bottom">
  
  <% facets[0].data.choices.forEach(category => { %>
    <a href="#">
      <div class="categories">
        <%= category.label %> (<%= category.quantity %>) 
      </div> 
    </a>
  <% }); %>
</div>

<!-- filtreleme ve ordering yapilacak. -->
<div class="list-content">
  <div class="list-views">
    <div class="filter">
      Filtrele
      <i class="bi bi-filter" style="font-size: 24px;"></i>
    </div>
    <div class="order">
      Gelişmiş Sıralama
      <i class="bi bi-sort-alpha-down" style="font-size: 24px;"></i>
    </div>
  </div>

  <!-- burada butonlara basinca grid yapisi degisecek.-->
  <div class="layout">
    <div class="text-view">
      Görünüm
    </div>
    <div class="layout-icons">
      <button id="doublelayout">
        <i class="bi bi-layout-split" style="font-size: 16px;"></i>
      </button>
      <button id="defaultlayout">
        <i class="bi bi-grid" style="font-size: 14px;"></i>
      </button>
      <button id="hexalayout">
        <i class="bi bi-grid-3x3-gap" style="font-size: 16px;"></i>
      </button>
    </div>
    <div class="product-quantitiy">
      <%= pagination.total_count %> Ürün
    </div>

  </div>
</div>

<!-- burada image slider yapilacak. -->
<div class="product-list">

  <% products.forEach(product => { %>
  <div>
        <div>
          <a href="/product/<%= product.pk %>">
            <img src="<%= product.productimage_set[0].image %>" class="product-image"   alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor.">    
          </a>
        </div>
    <div class="product-info">
      <p>
        <a href="#">
          <%= product.name %>
        </a>
        <br>
      <span>
        <%= product.price %> TL |
        <i class="bi bi-bag-check" style="color: #760C0C;"></i>
          <% product.basket_offers.forEach(basketOffer => { %>  
              <b style="color: #760C0C; font-size: 14px;"><%= basketOffer.label %></b>
              <b style="color: #760C0C; font-size: 18px;"><%= basketOffer.listing_kwargs.discounted_total_price %> TL</b>
          <% }); %>
      </span>
      </p>
    </div>  
  </div>
  <% }); %>
</div>


<%- include('footer'); -%>