<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %> | Madame Coco</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <style>
      .container header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #ffffff;
        padding: 20px 20px 20px 20px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="header-band">
        <a href="#">Kampanyalar</a>
        <a href="#">Sipariş Takibi</a>
        <a href="#">Mağazalar</a>
        <a href="#">İletişim</a>
        <a href="#"><span style="font-weight: bold">TR</span> | EN</a>
      </div>
    </div>
    <div class="main-container">
      <div class="container">
        <%- include("components/product/product-header") -%>

        <div class="product_detail_wrapper">
          <div>
            <img
              src="<%= product.productimage_set[0].image %>"
              style="width: 690px; height: 862px"
              alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor."
            />
          </div>
          <div class="product_detail_info">
            <div class="product-info-head">
              <div>
                <h1 style="font-size: 24px; color: #222222">
                  <%= product.name %>
                </h1>
              </div>
              <div class="product-info-heart">
                <i class="bi bi-heart"></i>
              </div>
            </div>
            <div class="product-info-code">
              <div class="product-code">Ürün Kodu: <%= product.sku %></div>
              <div class="share-button">
                <i class="bi bi-share"></i>
              </div>
            </div>

            <div class="product-price">
              <div class="price"><%= product.price %> TL |</div>
              <div class="basket-offer-price">
                <% product.basket_offers.forEach(basketOffer => { %>
                <b style="color: #760c0c; font-size: 32px">
                  <i class="bi bi-bag-check" style="font-size: 24px"></i>
                  <%= basketOffer.listing_kwargs.discounted_total_price %> TL
                </b>
                <b style="color: #760c0c; font-size: 13px">
                  <%= basketOffer.label %>
                </b>
                <% }); %>
              </div>
            </div>

            <div class="product-opportunity-content">
              <div class="opportunity-image">
                <img
                  src="https://akn-coco.a-cdn.akinoncloud.com/cms/2023/07/01/4767acef-49c2-4dca-8eb1-e87fe1c280b0.jpg"
                  alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor."
                  style="width: 48px; height: 48px"
                />
              </div>
              <div class="opportunity-content">
                <p>
                  Bonus'a Özel 1500TL Alışverişe 150TL Madame Coco Bonus!
                  Üstelik Peşin Fiyatına 6 Taksit!
                </p>
              </div>
            </div>
            <%- include("components/product/variants") -%>

            <div class="add-to-basket-and-quantity">
              <div class="product-quantity">
                <div class="quantity-buttons">
                  <button class="deacrease-button js-deacrease-button">
                    <i class="bi bi-dash" style="font-size: 32px"></i>
                  </button>
                </div>
                <div class="quantity js-quantity"></div>
                <div class="quantity-buttons">
                  <button class="increase-button js-increase-button">
                    <i class="bi bi-plus" style="font-size: 32px"></i>
                  </button>
                </div>
              </div>
              <div class="add-to-card">
                <button id="addtobasket">
                  <i class="bi bi-bag-plus" style="font-size: 20px"></i> SEPETE
                  EKLE
                </button>
              </div>
            </div>

            <%- include("components/product/product-everything") -%>
          </div>
        </div>

        <%- include('footer'); -%>
      </div>
    </div>
  </body>
</html>
