<%- include("header") -%>
<div class="register-page-wrapper">
  <form id="register-form" method="POST">
    <div class="register-container">
      <div class="register-routers">
        <a href="/users/login" class="to-login-page">
          <div>GİRİŞ</div>
        </a>
        <a href="/users/register" class="to-register-page">
          <div>KAYIT OL</div>
        </a>
      </div>
      <div class="bt user-name">
        <div class="user-firstname">
          <label for="user-name-box" class="register-label">Ad</label> <br />
          <input
            type="text"
            name="user-name-box"
            id="user-name-box"
            class="user-name-input un"
          />
        </div>
        <div class="user-lastname">
          <label for="user-surname-box" class="register-label">Soyad</label>
          <br />
          <input
            type="text"
            name="user-surname-box"
            id="user-surname-box"
            class="user-name-input un"
          />
        </div>
      </div>
      <div class="bt user-email">
        <label for="user-email-box" class="register-label"
          >E-posta Adresi</label
        >
        <br />
        <input
          type="text"
          id="user-email-box"
          name="user-email-box"
          class="user-input un"
        />
      </div>
      <div class="bt user-phone-number">
        <label for="user-phone-box" class="register-label">
          Telefon Numarası</label
        >
        <br />
        <!-- TODO: numara formatinda yap -->
        <input
          type="tel"
          id="user-phone-box"
          name="user-phone-box"
          maxlength="14"
          class="user-input un"
        />
      </div>
      <div class="bt user-password">
        <label for="user-password-box" class="register-label">Şifre</label>
        <br />
        <input
          type="password"
          id="user-password-box"
          name="user-password-box"
          class="user-input un"
        />
        <div class="register-show-password js-register-show-password">
          <i class="bi bi-eye-fill js-bi-eye-fill"></i>
        </div>
        <p>
          Şifreniz en az <span>1 büyük harf, 1 küçük harf, 1 sayı,</span> ve
          <span
            >1 özel <br />
            karakter içermelidir.</span
          >
        </p>
      </div>
      <div class="bt remember-me">
        <input type="checkbox" class="remember-me-checkbox" />
        <div>
          <span>Beni Hatırla</span>
        </div>
      </div>

      <div class="bt user-birthday">
        <div class="birthday-box">
          <span>Doğum Gününüz</span> <br />
          <select class="select-box" name="js-user-day" id="js-user-day">
            <option value="">Gün</option>
            <% for(let i = 1; i < 32; i++) { %> <% let newValue = i < 10 ? "0" +
            i : i; %>
            <option class="option js-option" value="<%= newValue %>">
              <%= newValue %>
            </option>
            <% } %>
          </select>
        </div>

        <div class="birthday-box">
          <span>Ay</span> <br />
          <select class="select-box" name="js-user-month" id="js-user-month">
            <option value="">Ay</option>
            <% const months = ["Ay" ,"Ocak", "Şubat", "Mart", "Nisan", "Mayıs",
            "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım",
            "Aralık"];%> <% for (let i = 1; i < months.length; i++) { %> <% let
            newValue = i < 10 ? "0" + i : i; %>
            <option class="option js-option" value="<%= newValue %>">
              <%= months[i] %>
            </option>
            <% } %>
          </select>
        </div>

        <div class="birthday-box">
          <span>Yıl</span> <br />
          <select class="select-box" name="js-user-year" id="js-user-year">
            <option value="">Yıl</option>
            <% const currentDate = new Date()%> <% const currentYear =
            currentDate.getFullYear() %> <% for(let i = 1950; i < currentYear +
            1; i++) { %> <% if(currentYear - i >= 18) { %>
            <option class="option js-option" value="<%= i %>"><%= i %></option>
            <% }} %>
          </select>
        </div>
      </div>
      <button class="register-button" type="submit">ÜYE OL</button>
    </div>
  </form>

  <div class="register-slogan-container">
    <div class="register-advantages">
      AVANTAJLARDAN <br />
      FAYDALANMAK İÇİN ÜYE <br />
      OLUN
    </div>
    <div class="advantage-group">
      <div class="advantage-icon">
        <div><i class="bi bi-credit-card-2-front"></i></div>
        <div class="advantage-span"><span>Hızlı ve Güvenli Ödeme </span></div>
      </div>
      <div class="advantage-icon">
        <div><i class="bi bi-puzzle-fill"></i></div>
        <div class="advantage-span">
          <span>İndirim Kuponu Avantajları </span>
        </div>
      </div>
      <div class="advantage-icon">
        <div><i class="bi bi-truck"></i></div>
        <div class="advantage-span">
          <span>Siparişleri Kolayca Takip </span>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("footer") -%>
